* {
    margin: 0%;
    padding: 0%;
}


.info{
    display: block;
    border: 1px solid black;
    text-align: center;
    background-color: peru;
    height: 400px;
    width: 400px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 20px;

}

h1 {
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    background-color: black;
    color: peru;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;

}

label {

    text-align: left;
    font-size: 18px;
    color: black;
    border-radius: 10px;
    border: none;

}

/* button{
    width: 10rem;
    height:3rem;
    margin-left: auto;
    margin-bottom: 1.8rem;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    width: 100px;
    background-color:crimson;

}
button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.6;
} */




input[type="text"] {
    font-size: 20px;
    


}

input[type="email"] {
    font-size: 20px;
    
}

input[type="number"] {
    font-size: 20px;
   
}

.business-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 40vh;
    width: 70vh;
    background-color: peru;
    color: black;
    margin-top: 10rem;
    font: 1.5rem;
    text-align: left;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    border-radius: 20px;
    background: linear-gradient(500deg,rgb(290,215,380)60%,rgb(50,80,45));
}

.Business-Name {
margin-top: 15px;
    font-size: 1.5rem;
    text-decoration: 0.1rem underlinesolid;
    text-underline-offset: 0.3rem;
    
    
    
}

.Business-BN {
    border: 1px solid black;
    background-color:black;
    color: peru;
    font-size: 30px;
    text-align: center;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 7rem 0rem 0 0;
}
.Business-email{
    margin-top: 5px;
    /* border: none;
    width: 72px;
    background-color:darkslategrey;
    border-radius: 10px;
    color:black; */
    
    
}
/* .Business-Role{
    margin-top: 5px;
    border: none;
    width: 7rem;
    background-color: darkslategrey;
    border-radius: 10px;
    color:black;
}
.Business-Contact{
    margin-top: 5px;
    border: none;
    width: 100px;
    background-color:darkslategrey;
    border-radius: 10px;
    color:black;
} */